<?php

define('CCPCM_PROJECT', '');
define('CCPCM_RELATIVE_JSONDB_PATH', '.');
define('CCPCM_RELATIVE_TEMPLATES_PATH', '.');
#define('CCPCM_RELATIVE_JSONDB_PATH', __DIR__.'/../../storage/ccpcm/jsondb');
#define('CCPCM_RELATIVE_TEMPLATES_PATH', __DIR__.'../../storage/ccpcm/templates');
define('IS_PLANNING', 0);